* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 90%;
    margin: 5 auto;
    border-radius: 3%;
    list-style: none;
}
:root{
    --primary-color:red;
    --text-color:blue;
}
body.dark-mode {
 background-color: #1b1b1b;
color: #e0e0e0;
}