* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 90%;
    margin: 5 auto;
    border-radius: 3%;
    list-style: none;
}
:root{
    --primary-color:red;
    --text-color:blue;  
}